<form role="form" action="" method="POST" class="form-horizontal form-bordered">
  <input type="hidden" id="id" name="<%= idField %>" value="<%= object[idField] %>" />
  <div class="form-body">
    <% editFields.forEach(field => {
        let attr = attributes.find(attr => (attr.name === field) )
        attr.value = object[attr.name] %>
      <%- render("web-form-input-"+attr.type, attr) %>
    <% }) %>
    <% if (object.resetPasswordToken) { %>
      <div class="form-group">
          <label class="col-sm-3 to-right">Login link</label>
          <div class="col-sm-7">
            <%- `${req.protocol}://${req.hostname}/login-link?token=${object.resetPasswordToken}` %>
          </div>
      </div>
    <% } %>
  </div>
  <div class="form-group">
      <div class="col-sm-offset-3 col-sm-7">
          <button class="btn btn-primary btn-theme" type="submit">Save</button>
      </div>
  </div>
</form>
